<!DOCTYPE html>
{% load staticfiles %}
{% load js %}
<meta charset="ISO-8859-1">
<html>
<head>
  <title>Test</title>
  <style>
    @page {
      size: 11in 8.5in;
      margin: 5mm 5mm 5mm 5mm;
    }
    h1 {
      text_align:center;
    }
    body{font-size: 8px;}
    table{
      border:1px solid;
      margin:0 auto;
      width:100%;
      text_align:center;
    }
    td,th {
      text_align:center;
      border:1 px solid;

    }
  </style>
</head>
<body>
  <h1>Lista de vendedores</h2>
    <table>
      <thead>
        <tr>
          <th>Programa</th>
          <th>Codigo</th>
          <th>Nombre</th>
          <th>Color</th>
        </tr>
      </thead>
      <tbody>
        {% for persona in vendedor %}
        <tr>
          <td>{{ persona.programa }}</td>
          <td>{{ persona.codigo }}</td>
          <td>{{ persona.nombre }}</td>
          <td>{{ persona.color }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </body>
  </html>
