<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 80%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      var centroPrograma = {lat:JSON.parse("{{ lat|escapejs }}") , lng:JSON.parse("{{ lng|escapejs }}") };
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: centroPrograma,
          mapTypeId: 'hybrid'
        });
        //map.data="{{ lista_puntos|safe }}"
        // Create a <script> tag and set the USGS URL as the source.

        var prueba_script=document.createElement('script');
        prueba_script.text="{{ geojson_tiendas|escapejs }}";
        //document.write(prueba_script.text)
        //var script = document.createElement('script');
        // This example uses a local copy of the GeoJSON stored at
        // http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_week.geojsonp

        //script.src = "{% static 'info_tiendas.js' %}";
        document.getElementsByTagName('head')[0].appendChild(prueba_script);
      }

      // Loop through the results array and place a marker for each
      // set of coordinates.
      window.eqfeed_callback = function(results) {
        for (var i = 0; i < results.features.length; i++) {
          var coords = results.features[i].geometry.coordinates;
          var color=results.features[i].properties.color;
          var titulo=results.features[i].properties.codigo;
          var latLng = new google.maps.LatLng(coords[1],coords[0]);
          var marker = new google.maps.Marker({
            position: latLng,
            map: map,
            title:titulo,
            icon: customIcon({
                fillColor: color,
            }),
          });
        }
      }
    function customIcon (opts) {
      return Object.assign({
      path: 'M 0,0 C -2,-20 -10,-22 -10,-30 A 10,10 0 1,1 10,-30 C 10,-22 2,-20 0,0 z M -2,-30 a 2,2 0 1,1 4,0 2,2 0 1,1 -4,0',
      fillColor: '#34495e',
      fillOpacity: 1,
      strokeColor: '#000',
      strokeWeight: 2,
      scale: 1,
      }, opts);
    }
    </script>
    <form id="page_form" method="post" action="{% url 'georef:indice' %}">
    <ul>
      {% csrf_token %}
      {% for field in forma.visible_fields %}
          <li>
            {{ field.help_text }}{{ field }}
          </li>
      {% endfor %}
      <input type="submit" name="submit" value="Filtrar Datos" />
    </ul>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBckQmYAj27KJOcRLaXEWnhgrliapEFh14&callback=initMap" >
    </script>
  </body>
</html>
